<p>home works!</p>

<div class='container'>
<!--   <div class="row">
        <div *ngFor='let monsters of monsterList' class="col s6 m4">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{monsters.name}}</p>
                        <p><small>{{monsters.created | date: 'dd/MM/yyyy' }}</small></p>
                        <div *ngIf=" monsters.votreAmis === true">
                            <button class="card-button" (click)="friend( monsters.id )">
                                <i class="fa-solid fa-heart" style="color:palevioletred " ></i>
                            </button>
                        </div>
                         
                        <div *ngIf=" monsters.votreAmis === false">
                            <button class="card-button" (click)="friend( monsters.id)">
                                <i class="fa-solid fa-heart" style="color:black " ></i>
                            </button>  
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>--> 
</div>